.App {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    visibility: hidden;

    animation: fadeInSection .8s forwards;

    h1 {
        text-align: center;
        font-size: 40px;
        letter-spacing: .5rem;
    }
    
    .line {
        background-color: var(--text);
        height: 1px;
        width: 100px;
        margin: 50px auto;
    }

    p {
        margin: 1rem 0;
        font-family: 'TTNorms Light';
        font-size: 19px;
    
        & strong {
            font-family: 'TTNorms Bold';
        }
    }
}

.close-section {
    animation: fadeOutSection .4s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(0, -100px);
    }
    50% {
        transform: translate(0,0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    50% {
        transform: translate(0,0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSection {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutSection {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@media screen and (max-width: 760px) {
    section {
        padding: 70px 0;

        .line {
            margin: 30px auto;
        }
    
        h1 {
            font-size: 20px;
        }
    
        p {
            font-size: inherit;
        }
    }
}