nav {
    z-index: 999;
    width: 100%;
    background-color: var(--background);

    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 0;

    .logo-navbar {
        height: 60px;

        position: absolute;
        left: 0px;
        transform: translate(50px, 0);
        opacity: 0;
    }

    .menu {
        display: none;
        align-items: center;
        justify-content: center;
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 3s;
    }

    .menu-icon {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    
        .menu-icon__cheeckbox {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            z-index: 2;
            -webkit-touch-callout: none;
            position: absolute;
            opacity: 0;
        }

        div {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 22px;
            height: 12px;
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--text, #000);
            border-radius: 1px;
            transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    
            &:first-of-type {
                top: 0;
            }
            &:last-of-type {
                bottom: 0;
            }
        }

        &.active, .menu-icon__cheeckbox:checked + div {
            span {
                &:first-of-type {
                    transform: rotate(45deg);
                    top: 5px;
                }
                &:last-of-type {
                    transform: rotate(-45deg);
                    bottom: 5px;
                }
            }
        }
    
        &.active:hover span:first-of-type, &.active:hover span:last-of-type, &:hover .menu-icon__cheeckbox:checked + div span:first-of-type, &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
            width: 22px;
        }
    
        &:hover {
            // no need hover effect on mobile.
            @media (min-width: 1024px) {
                span:first-of-type {
                    width: 26px;
                }
    
                span:last-of-type {
                    width: 12px;
                }
            }
        }
    }
    

    & .container-nav {
        padding: 10px;
        width: calc(100%/2);
        display: flex;
        justify-content: space-between;
        
        & :nth-child(1) {
            opacity: 0;
            animation: fadeInDown 1s forwards;
            animation-delay: 2.5s;
        }
        & :nth-child(2) {
            opacity: 0;
            animation: fadeInUp 1s forwards;
            animation-delay: 2.7s;
        }
        & :nth-child(3) {
            opacity: 0;
            animation: fadeInDown 1s forwards;
            animation-delay: 2.9s;
        }
        & :nth-child(4) {
            opacity: 0;
            animation: fadeInUp 1s forwards;
            animation-delay: 3s;
        }
        
        
        & button {
            list-style-type: none;
            background-color: transparent;
            border: 2px solid var(--secondary);
            color: var(--text);
            font-family: 'TTNorms Bold';
            padding: 10px 20px;
            z-index: 1;
            position: relative;
            
            &:hover {
                transform: scale(1.1);

                cursor: pointer;
            }
        }

        .close-right {
            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 0;
                background-color: var(--secondary);
                transition: .2s ease-in-out;
            }
        }

        .close-left {
            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 0;
                background-color: var(--secondary);
                transition: .2s ease-in-out;
            }
        }

        .active-left {
            color: var(--background);

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-color: var(--secondary);
            }
        }

        .active-right {
            color: var(--background);

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-color: var(--secondary);
            }
        }
    }
}

.move-nav {
    animation: moveNav .4s forwards;
    
    & .logo-navbar {
        animation: showLogo 1s forwards;
        animation-delay: .4s;
    }   
}

@keyframes moveNav {
    0% {
        position: absolute;
    }
    100% {
        position: fixed;
        top: 0;
    }
}

@keyframes showLogo {
    0% {
        transform: translate(50px, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        display: block;
        top: 0;

        .logo-navbar {
            position: relative;
        }

        .container-nav {
            padding: 10px;

            background-color: var(--text);
            height: 100%;
            width: 50%;
            z-index: 999;

            justify-content: start;
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 0;
            transform: translate(-1000px, 0);
            transition: .4s ease-in-out;

            button {
                margin: 0 10px;
                font-size: 16px;
                border: none;
                color: var(--background);
                animation: none;
            }

            & :nth-child(1) {
                opacity: 1;
                animation: none;
            }
            & :nth-child(2) {
                opacity: 1;
                animation: none;
            }
            & :nth-child(3) {
                opacity: 1;
                animation: none;
            }
            & :nth-child(4) {
                opacity: 1;
                animation: none;
            }
        }

        .menu {
            display: inline;
            position: fixed;
            top: 10px;
            right: 10px;
        }

        .move-nav-bar {
            transform: translate(0, 0);
        }
    }
}