footer {
    font-weight: bold;
    font-size: 12px;
    opacity: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    animation: fadeIn 1s forwards;
    animation-delay: 3s;

    position: absolute;
    bottom: 1rem;
}