* {
  margin: 0;
  padding: 0;
  font-family: 'TTNorms';
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: var(--text);
  background-color: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  --background: #e8eff3;
  --text: #0B1C47;
  --secondary: #da1b1b;
}

@font-face {
  font-family: 'TTNorms';
  src: url(./assets/fonts/TTNorms-Regular.otf);
}
@font-face {
  font-family: 'TTNorms Bold';
  src: url(./assets/fonts/TTNorms-Bold.otf);
}
@font-face {
  font-family: 'TTNorms Light';
  src: url(./assets/fonts/TTNorms-Light.otf);
}